@import url('https://fonts.googleapis.com/css2?family=Georama&family=Montserrat&display=swap');
:root {
  /* fonts */ 
  --font-basic: 'Montserrat', sans-serif;
  --font-headings: 'Georama', sans-serif;
  --ratio: 1.61803399; /* golden ratio */

  /* colors */
  --color-dark: #050505;
  --color-darkish: #404040;
  --color-lightish: #e6e6e6;
  --color-light: #fafafa;
  --color-mid: grey;

  /* sizes */
  --s-5: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-4: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --s5: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --s6: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));

  /* text */
  --measure: 65ch; /* width should be 65 chars (or width of 0 in current font) */
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--line-height));

  /* borders */
  --border-thick: var(--s-2);
  --border-thin: var(--s-5);


  /* defaults */
  font-family: var(--font-basic);
  line-height: var(--line-height);

}

*, :before, :after {
  box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

footer, header, main, nav {
  display: block;
}

h1, h2, h3, h4 {
  line-height: var(--line-height-small);
  font-family: var(--font-headings);
  line-height: var(--line-height-small);
}

header {
  color: white;
  border: chartreuse var(--border-thin) dashed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: var(--s3);
  padding: 0 calc(.25vw + var(--s-3))
}

footer {
  padding: 0 calc(.25vw + var(--s-3));
  background-color: plum;
  min-height: var(--s2);
}

aside {
  border: green var(--border-thin) dashed;
  flex-basis: var(--s6);
  flex-grow: 1;
}

article {
  border: yellow var(--border-thin) dashed;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  max-width: var(--measure);
}

main {
  border: purple var(--border-thin) dashed;
  display: flex;
  gap: var(--s1);
  flex-wrap: wrap;
  min-height: calc(100vh - var(--s2) - var(--s3) - var(--s2)); 
  max-width: calc(var(--measure) + var(--s6) + var(--border-thin) + var(--s1));

  margin: 0 auto;
  padding: 0 calc(.25vw + var(--s-3));
}

nav {
  background-color: hsl(240, 75%, 50%);
  height: 100%;
}

article > h1 {
  margin-bottom: var(--s2);
}
p + p {
  margin-top: var(--s1);
}


#brand {
  background-color: gray;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 var(--s-1);
}

#brand > a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


nav > ul {
  display: flex;
  align-items: center;
  height: 100%;
}

nav > ul > li {
  list-style: none;
  height: 100%;
  min-width: var(--s4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav > ul > li:hover {
  background-color: hsl(240, 75%, 75%);
}

nav > ul > li.active {
  background-color: hsl(240, 100%, 75%);
}

button {
    font-size: var(--s1);
    margin-top: var(--s1);
    font-weight: 700;
    text-align: right;
    color: var(--color-dark);
    display: none;
    width: auto;
}

button path {
    transition: d .25s
}

#hamburger {
    width: .75em;
    height: .75em;
    stroke: currentColor;
    stroke-width: 4;
    fill: none;
    text-decoration-skip: objects
}
button[aria-expanded=true] path {
    d: path("M3,3 29,29 M16,16 16,16 M3,29 29,3")
}

@media screen and (max-width: 52rem) {
  
  nav {
    display: none;
  }

  button {
    display: block;
  }

  [aria-expanded=true] + nav {
    display: block;
    z-index: 1;
    width: 100%;
  }

  nav > ul {
    flex-wrap: wrap
  }

  nav > ul > li {
    width: 100%;
    min-width:auto;
  }
}

